/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap");

* {
  box-sizing: border-box !important;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  overflow: hidden;
  background-color: #445051;
  color: #ffffff;
}
#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}